body {
  background-color: lightgrey;
  font-family: Helvetica, sans-serif
}

.login {
  position: relative;
  top: 10px;
  right: -45%;
  font-size: 16px;
}

input,
button {
  box-sizing: border-box;
}

input[type='submit'],
button {
  cursor: pointer;
}

.App {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  background-color: white;
  opacity: 85%;
}

.main {
  padding: 20px 0 350px 0;
  max-width: 50vw;
  position: relative;
  top: 0;
  left: 23%;
}

h1 {
  font-size: 34px;
}

.AddMedicationForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -20px 0;
}

.AddMedicationForm input[type='text'] {
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 1px grey;
}

.AddMedicationForm input[type='submit'] {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 1px grey;
  background-color: aquamarine;
}

ul {
  margin-top: 40px;
  padding: 20px;
}

.Medication {
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.text {
 font-size: 16px;
 background-color: #f0f0f0;
 border-radius: 3px;
 margin: 0 100px;
 padding: 5px;
}

.Medication button {
  padding: 5px;
  float: right;
  margin-left: 10px;
  border: none;
  font-size: 12px;
}

.Medication .remove-button:hover {
  color: #fff;
  background-color: #000;
}