body {
  background-color: lightgrey;
  font-family: Helvetica, sans-serif;
}

input,
button {
  box-sizing: border-box;
}

input[type='submit'],
button {
  cursor: pointer;
}

.App {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  overflow-y: hidden;
  text-align: center;
  background-color: white;
  opacity: 85%;
}

.main {
  padding: 20px 0 350px 0;
  max-width: 50vw;
  position: relative;
  top: 0;
  left: 23%;
}

.logo {
  float: left;
  margin-left: 5px;
}

.login {
  float: right;
  margin-right: 30px;
  margin-top: 5px;
}

h1 {
  font-size: 34px;
}

.AddMedicationForm {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: -20px 0;
}

.AddMedicationForm input[type='text'] {
  padding: 5px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 1px grey;
}

.AddMedicationForm input[type='submit'] {
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  border: solid 1px grey;
  background-color: aquamarine;
}

ul {
  margin: 5% 5% 0 0;
  padding: 20px;
}

.Medication {
  list-style-type: none;
  text-align: center;
  font-size: 14px;
  padding: 3px;
}

.text {
  font-size: 16px;
  background-color: #f0f0f0;
  border-radius: 3px;
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  height: 20px;
}

.Medication .view-remove {
  float: right;
}

.Medication .view-order {
  background-color: aquamarine;
  border: solid 1px grey;
  border-radius: 3px;
}

.Medication .remove-medication {
  padding: 5px;
  background-color: none;
  margin-left: 10px;
  border: none;
  font-size: 12px;
}

.Medication .remove-button:hover {
  color: #fff;
  background-color: #000;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text {
    max-width: 100vw;
    margin-left: -120%;
    max-height: 100vh;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  .text {
    max-width: 100vw;
    margin-left: -120%;
    max-height: 100vh;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}