body {
  background-color: #f2f2f2;
}

.App {
  text-align: center;
  background-color: white;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 2%;
  width: 95vw;
}

.logo {
  float: left;
  padding: 10px;
}

.login {
  float: right;
  padding: 10px;
}

h1 {
    position: relative;
    top: 0;
    left: -6%;

}

.Form {
  min-height: 40px;
  padding: 50px 0;
  margin-top: -20px;
}

.Input {
  margin-right: 20px;
  padding: 5px;
  width: 200px;
}

.Button {
  margin-left: 20px;
  padding: 5px 10px;
  border: solid 1px grey;
  background-color: aquamarine;
  border-radius: 3px;
}

.Button:hover {
  cursor: pointer;
  font-weight: bold;
}

.List {
  background-color: ghostwhite;
  border-radius: 3px;
  height: auto;
  min-height: 500px;
  width: 80vw;
  position: relative;
  left: 7%;
  padding: 15px 10px;
}

.List table {
  width: 100%;
  text-align: center;
}

.List h2 {
  position: relative;
  left: 2%;
}

.List th {
  padding: 0 120px;
}

.List td {
  padding: 0 120px;
}